---
---

<header
  class="fixed top-0 right-0 left-0 z-50 flex h-[50px] w-full items-center justify-between border-b border-[#BA0000] bg-[#F8EACD]"
>
  <a
    href="/"
    class="font-heading pl-6 text-sm lowercase text-[#BA0000] no-underline"
  >
    madeleydesignstudio.
  </a>
  <a
    href="#"
    class="flex h-full items-center bg-[#BA0000] px-6 text-sm lowercase text-white no-underline"
  >
    get your software →
  </a>
</header>
