---
import ServiceCard from "@/components/landing-page/service-card.astro"
import type { ServiceContent } from "@/lib/sanity/types"

interface Props {
  services: ServiceContent[]
}

const { services } = Astro.props
---

<section
  data-services-section
  class="flex flex-col gap-32 bg-[#FDE9C1] py-24 md:gap-56 md:py-40"
>
  {
    services.map((service, index) => (
      <ServiceCard service={service} anchoredRight={index % 2 === 0} />
    ))
  }
</section>
